/* Editor container */
#editor {
  background-color: #1b1b1b !important;
  border: 1px solid #444 !important;
}

/* Main editor styling */
.ace-monokai,
.ace-twilight {
  background-color: #1b1b1b !important;
  color: #fff !important;
}

/* Line numbers */
.ace_gutter {
  background: #111 !important;
  color: #666 !important;
}

/* Active line */
.ace_active-line {
  background: #222 !important;
}

/* Cursor color */
.ace_cursor {
  color: #fff !important;
}

/* .ace_selection {
    background: #333 !important; */
/* } */

/* Custom scrollbar */
.ace_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
}

.ace_scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  background: #222;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

/* Matching brackets */
.ace_marker-layer .ace_bracket {
  border: 1px solid #555;
  margin: -1px 0 0 -1px;
}

/* JSON specific syntax highlighting */
.ace_json .ace_keyword {
  color: #f92672 !important;
  /* Keys */
}

.ace_json .ace_string {
  color: #a6e22e !important;
  /* String values */
}

.ace_json .ace_constant.ace_numeric {
  color: #ae81ff !important;
  /* Numbers */
}

.ace_json .ace_constant.ace_language {
  color: #66d9ef !important;
  /* null, true, false */
}
