<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
   <div class="flex-grow p-2 w-full">
        <div class="overflow-x-auto scrollbar rounded-lg p-4 shadow-md">
          <table class="min-w-full divide-y divide-zinc-500 text-gray-100 border-2 border-zinc-500" id="platformResourcesTable">
            <thead class="bg-zinc-900 font-medium text-gray-500 uppercase tracking-wider">
              <tr>
                <th class="px-3 py-3 text-left text-xs ">Resource Name
                </th>
                <!-- <th class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Available
                  Actions</th> -->
                <th class="px-3 py-3 text-left text-xs ">Generate Yaml
                  Spec</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm">
              {{ range $resource, $spec := .Response.SpecMap }}
              <tr>
                <td class="px-3 py-3 whitespace-nowrap">{{ $resource }}</td>
                <td class="px-1 py-1 whitespace-nowrap">
                  <div hidden id="yamlSpec-{{ $resource }}">{{ $spec }}</div>
                  <a href="#" onclick="downloadElementIntoYAML('yamlSpec-{{ $resource }}',`{{ $resource }}`)"
                    class="flex items-center px-2 py-2 hover:text-pink-900  text-orange-700 rounded-lg">
                    <svg class="w-6 h-6 mr-2" viewBox="0 0 24 24" fill="currentColor" class="mr-2" stroke="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5 20h14v2H5v-2zm7-2c-.28 0-.53-.11-.71-.29L8 13.41l1.41-1.41L11 14.17V4h2v10.17l1.59-1.59L16 13.41l-3.29 3.29c-.18.18-.43.29-.71.29z"
                        fill="#000" />
                    </svg>
                    Download YAML
                  </a>
                </td>
              </tr>
              {{ end }}
            </tbody>
            {{ template "table-pagination-footer.html" . }}
          </table>
        </div>

    </div>
  </div>
<script>

document.addEventListener("DOMContentLoaded", function() {
      setTimeout(() => {
        addTablePagination({
      tableId: "platformResourcesTable",
      rowsPerPage: 10,
      prevPageBtn: document.getElementById("prevPage"),
      nextPageBtn: document.getElementById("nextPage"),
      currentPageSizeSpan: document.getElementById("currentPageSize"),
      totalElementsSpan: document.getElementById("totalElements"),
      });
      }, 100);

    });

</script>
</body>

</html>