<!-- header.html -->
<header class="bg-[#1b1b1b] text-gray-100 h-[66px]  border-b border-zinc-500">
    <div id="toast" class="toast"></div>
    <div id="errorMessage" class="errorMessage"></div>
    <div id="infoMessage" class="infoMessage"></div>
    <div class="mx-auto flex justify-between items-center p-2">
        <!-- Left Section: Hamburger Button and Logo -->
        <div class="flex justify-around gap-10">
            
            {{ if not .Response.HideBackListingLink }}
            <div class="flex justify-between mb-2 items-center rounded-lg p-1">
                <a href="{{ .Response.BackListingLink }}"
                    class="inline-flex items-center text-orange-700 hover:text-orange-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 m-1" viewBox="0 0 36 36" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                        <title>Go Back - Contained Arrow</title>
                        <!-- Rounded Rectangle Container -->
                        <rect x="4" y="4" width="28" height="28" rx="14" />
                         <!-- Arrow -->
                        <line x1="23" y1="18" x2="13" y2="18"></line>
                        <polyline points="17 22 13 18 17 14"></polyline>
                      </svg>
                    Back
                </a>
            </div>
            {{ end }}
        </div>
        <div>
            <h1 class="text-xl text-gray-100 font-bold">{{ .SectionHeader }}</h1>
        </div>
        <!-- Right Section: Organization Dropdown -->
        <div class="flex">
            <button id="domainDropdownButton"
                class="flex items-center text-orange-700 px-4 py-2 rounded-lg hover:bg-zinc-800 hover:text-gray-100">
                My Organizations
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"
                    class="w-5 h-5 shrink-0">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.333 6 8 3.334 10.667 6m0 4L8 12.667 5.333 10"></path>
                </svg>
            </button>
            <div id="domainItems"
                class="vapus-hidden absolute right-0 mt-2 w-64 p-2 max-h-64 overflow-y-auto scrollbar border border-zinc-500 rounded-lg z-10 w-auto bg-[#1b1b1b] text-gray-100 shadow-lg">
                <ul class="py-2">
                    {{if .GlobalContext }}
                    {{if .GlobalContext.UserInfo }}
                    {{ range $id, $val := .GlobalContext.UserInfo.OrganizationRoles }}
                    <li><a onclick="domainLogin(`{{ $val.OrganizationId }}`)"
                            class="block rounded-md shadow-sm px-2 py-1 m-1 bg-[#1b1b1b] text-gray-100 hover:bg-zinc-800 hover:text-gray-100 text-xs cursor-pointer {{ if eq $val.OrganizationId $.GlobalContext.CurrentOrganization.OrganizationId }} headerOrganizationSelected {{ end }}"
                            data-domain="{{ $val.OrganizationId }}" style="width: 400px;">
                            <strong>{{index $.GlobalContext.OrganizationMap $val.OrganizationId }} ({{ limitletters $val.OrganizationId
                                15}})</strong>
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const domainDropdownButton = document.getElementById('domainDropdownButton');
            const domainItems = document.getElementById('domainItems');

            // Toggle Organization Dropdown Menu
            domainDropdownButton.addEventListener('click', (event) => {
                event.stopPropagation(); // Prevent bubbling
                if (domainItems.classList.contains('vapus-hidden')) {
                    // Show domain menu and hide hamburger menu
                    domainItems.classList.remove('vapus-hidden');
                } else {
                    // Hide domain menu
                    domainItems.classList.add('vapus-hidden');
                }
            });

            // Close menus when clicking outside
            document.addEventListener('click', (event) => {
                // Close Organization Dropdown Menu
                if (!domainDropdownButton.contains(event.target) && !domainItems.contains(event.target)) {
                    domainItems.classList.add('vapus-hidden');
                }
            });
        });

        function domainLogin(domainId) {
            const urlObj = new URL(window.location.href);
            pathname = urlObj.pathname;
            window.location.href = `/ui/auth/domain/${domainId}?redirect=${pathname}`;
        }

    </script>
</header>