<div class="bg-zinc-800 p-4 rounded-lg shadow-md">
    <table class="min-w-full divide-y divide-zinc-500 border border-zinc-500">
      <thead class="bg-zinc-900">
        <tr>
          <th class="px-3 py-3 text-left text-xs font-medium  uppercase tracking-wider">File Name</th>
          <th class="px-3 py-3 text-left text-xs font-medium  uppercase tracking-wider">Description</th>
        </tr>
      </thead>
      <tbody class="bg-zinc-800 divide-y divide-zinc-500">
        <tr class="cursor-pointer hover:bg-zinc-600">
            <td>Model Cost Map</td>
            <td>
                <table class="min-w-full divide-y divide-zinc-500 text-gray-100 border-2 border-zinc-500 text-xs">
                    <thead class="bg-zinc-900 text-sm text-gray-500 uppercase tracking-wider">
                        <tr>
                            <th class="px-3 py-3 text-left tracking-wider">Model</th>
                            <th class="px-3 py-3 text-left tracking-wider">Cost</th>
                        </tr>
                    </thead>
                    <tbody class="bg-zinc-800 divide-y divide-zinc-500 break-words text-xs">
                        {{ if $.Response.TaskLogs.AuditLogs.ModelCostMap }}
                        {{ range $key, $value := $.Response.TaskLogs.AuditLogs.ModelCostMap }}
                        <tr>
                            <td class="px-3 py-3 whitespace-nowrap">{{ $key }}</td>
                            <td class="px-3 py-3 whitespace-nowrap">{{ $value }}</td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>                
            </td>
        </tr>
        <tr class="cursor-pointer hover:bg-zinc-600">
            <td>Total Cost</td>
            {{ if $.Response.TaskLogs.AuditLogs.TotalCost }}
            <td>{{ $.Response.TaskLogs.AuditLogs.TotalCost }}</td>
            {{ end }}
        </tr>
        <tr class="cursor-pointer hover:bg-zinc-600">
            <td>Average Cost</td>
            {{ if $.Response.TaskLogs.AuditLogs.AverageCost }}
            <td>{{ $.Response.TaskLogs.AuditLogs.AverageCost }}</td>
            {{ end }}
        </tr>
        <tr class="cursor-pointer hover:bg-zinc-600">
            <td>Team Cost Log</td>
            <td>
                <table class="min-w-full divide-y divide-zinc-500 text-gray-100 border-2 border-zinc-500 text-xs">
                    <thead class="bg-zinc-900 text-sm text-gray-500 uppercase tracking-wider">
                        <tr>
                            <th class="px-3 py-3 text-left tracking-wider">Team</th>
                            <th class="px-3 py-3 text-left tracking-wider">Cost</th>
                        </tr>
                    </thead>
                    <tbody class="bg-zinc-800 divide-y divide-zinc-500 break-words text-xs">
                        {{ if $.Response.TaskLogs.AuditLogs.TeamCostLog }}
                        {{ range $key, $value := $.Response.TaskLogs.AuditLogs.TeamCostLog }}
                        <tr>
                            <td class="px-3 py-3 whitespace-nowrap">{{ $key }}</td>
                            <td class="px-3 py-3 whitespace-nowrap">{{ $value }}</td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>                
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  