<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     {{ template "staticimports.html" . }}
     {{ template "manage-platform-imports.html" . }}
</head>
<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
    {{ template "yaml-editor-modal.html" . }}
   <div class="flex-grow p-2 w-full">
        <div class="flex justify-end mb-2 items-center p-2">
           
            {{ template "create-new-resource.html" . }}
        </div>
        <section id="grids" class="space-y-6">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
              {{ template "dataproduct-listing-card.html" . }}
            </div>
        </section>
    </div>
    <div hidden id="createTemplate">{{ $.CreateTemplate }}</div>
</div>
<script>
    
</script>

</body>
</html>
