<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  <script src="/static/js/manage.js"></script>
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

      <div class="overflow-y-auto scrollbar h-screen w-full">
    {{ template "header.html" . }}
        {{ template "yaml-editor-modal.html" . }}
        <div class="flex-grow p-2 w-full">
            {{ template "section-headers.html" . }}
          <!-- Tabs -->
        <div id="spec" class="overflow-x-auto scrollbar text-gray-100 rounded-lg shadow-md tab-content p-6">
          <div class="max-w-8xl mx-auto rounded-lg shadow-lg p-6  bg-[#1b1b1b]">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6">
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Data Product</p>
                <p class="break-words p-2">{{ .Response.VdcDeployment.DataProductId }}</p>
              </div>
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Deployment Id</p>
                <p class="break-words p-2">{{ .Response.VdcDeployment.DeploymentId }}</p>
              </div>
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Infra Id</p>
                <p class="break-words p-2">{{ .Response.VdcDeployment.InfraId }}</p>
              </div>
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Marketplace</p>
                <p class="break-words p-2">{{ .Response.VdcDeployment.MarketplaceId }}</p>
              </div>
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Deployed At</p>
                <p class="break-words p-2">{{ epochConverter .Response.VdcDeployment.DeployedAt }}</p>
              </div>
              <div class = "flex items-center">
                <p class="detail-sect-key font-medium">Status: </p>
                <p class=" break-words p-2">
                <span
                  class="px-3 py-1 text-sm font-medium {{ if eq .Response.VdcDeployment.ResourceBase.Status `FAILED_ERR` }}text-red-800 bg-red-100{{ else }}text-green-800 bg-green-100{{ end }} rounded-full">{{
                  .Response.VdcDeployment.ResourceBase.Status }}</span>
                </p>
              </div>
            </div>

            <!-- Organization Roles Section -->
            <h3 class="text-xl mb-4 detail-heading">K8S Spec</h3>
            <div class="space-y-4 ">
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6 p-4 bg-zinc-700 rounded-lg shadow-md">
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">ArtifactPullSecrets</p>
                  <p class="break-words p-2">{{ .Response.VdcDeployment.ArtifactPullSecrets }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">K8S Namespace</p>
                  <p class="break-words p-2">{{ .Response.VdcDeployment.Namespace }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Log</p>
                  <p class="break-words p-2">{{ stringCheck .Response.VdcDeployment.Log }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Artifact</p>
                  <p class="break-words p-2">{{ .Response.VdcDeployment.Artifact }}</p>
                </div>
              </div>
            </div>
            <h3 class="text-xl mb-4 detail-heading">Deployment Spec</h3>
            <div class="space-y-4">
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6 bg-zinc-700 p-4 rounded-lg shadow-md">
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Svc</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.Svc }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.Svc }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Deployment</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.Deployment }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.Deployment }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Svc Port</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.SvcPort }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.SvcPort }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Container Port:</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.Port }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.Port }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Svc Type:</p>
                  <p class="break-words p-2">{{ .Response.VdcDeployment.DeploymentSpec.SvcType }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Svc Address:</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.SvcAddress }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.SvcAddress }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Config:</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.SvcConfig }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.SvcConfig }}</p>
                </div>
                <div class = "flex items-center">
                  <p class="detail-sect-key font-medium">Secret:</p>
                  <p class="break-words p-2" style="cursor: pointer;"
                    onclick="copyToClipboard(`{{ .Response.VdcDeployment.DeploymentSpec.SvcSecret }}`)">{{
                    .Response.VdcDeployment.DeploymentSpec.SvcSecret }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script>
    document.addEventListener("click", (event) => {
      const dropdown = document.getElementById("actionDropdownMenu");
      const button = document.querySelector("button[onclick='toggleActionDropdownMenu()']");
      if (!dropdown.contains(event.target) && !button.contains(event.target)) {
        dropdown.classList.add("hidden");
      }
    });
    function vdcDeploymentAction(action) {
      ShowConfirm("Confirm Action", "Are you sure you want to proceed?", () => {
        console.log("Confirmed!");
        ManageVDCDeployment(action,
          `{{ .Response.VdcDeployment.DeploymentId }}`,
          `{{ .Response.ActionParams.API }}`,
          `{{ .GlobalContext.AccessTokenKey }}`)
      });
    }
    function showTab(tabId) {
      const tabs = document.querySelectorAll('.tab-content');
      tabs.forEach(tab => tab.classList.add('hidden'));
      console.log(tabId);
      document.getElementById(tabId).classList.remove('hidden');

      const buttons = document.querySelectorAll('.tab-button');
      buttons.forEach(button => button.classList.remove('active-tab'));

      document.querySelector(`[onclick="showTab('${tabId}')"]`).classList.add('active-tab');
    }

    // Show the first tab by default
    document.addEventListener('DOMContentLoaded', () => {
      showTab('spec');
    });
  </script>
</body>

</html>