<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  <script type="module" src="/static/js/observability.js"></script>
  <script>
    // JavaScript function to toggle expand/collapse rows
    function toggleRow(rowId) {
      const expandedRow = document.getElementById(rowId);
      expandedRow.classList.toggle("hidden");
    }
    function toggleSection(id) {
      const section = document.getElementById(id);
      section.classList.toggle("hidden");
    }
  </script>
</head>

<body class="bg-gray-200 flex h-screen">
  {{ template "main-sidebar.html" . }}
  <div id="loadingOverlay" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
    <button
    id="optionsIcon"
    class="fixed bottom-4 right-4 bg-orange-700 text-white p-3 rounded-full shadow-lg hover:bg-pink-900 focus:outline-none focus:ring-2 z-50"
  >
    <!-- Menu bar SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
    <div class="flex bg-white shadow-md rounded-lg p-2 w-full mt-2">
      <div class="flex bg-white p-2 flex-col w-full">
        <!-- Chat Area -->
        <div id="metricOutput"
          style="background: radial-gradient(circle, black -25%, transparent 10%) 0 0, radial-gradient(circle, black -25%, transparent 10%) 10px 10px; background-size: 20px 20px;"
          class="flex-grow p-2 border border-gray-200 rounded-lg mb-2 bg-gray-50 table-container overflow-y-auto scrollbar  
          {{ if not .Response.CurrentFabricChat }} hidden {{ end }}">
        </div>
        <div id="userInputGround" class="mt-2 border border-gray-300 p-2 rounded-lg shadow-md">
          <!-- Text Input -->
          <textarea id="input" onkeydown="EnterInput(event)" class="w-full h-20 p-2 rounded-lg focus:outline-none"
            placeholder="Type your query here..."></textarea>

          <div class="flex h-[44px] items-center justify-between">
            <button aria-label="Ask" data-testid="fabricAction"
              class="flex h-8 w-8 items-center justify-center rounded-full transition-colors hover:opacity-70 focus-visible:outline-none focus-visible:outline-black disabled:text-[#f4f4f4] disabled:hover:opacity-100 disabled:dark:bg-token-text-quaternary bg-yellow-800 text-white disabled:bg-[#D7D7D7]"
              onclick="dataproductObservabilityAction(`{{ .GlobalContext.AccessTokenKey }}`,`{{ .ServerAPI}}`,`{{ .GlobalContext.UserInfo.DisplayName }}`)">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="icon-2xl">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15.1918 8.90615C15.6381 8.45983 16.3618 8.45983 16.8081 8.90615L21.9509 14.049C22.3972 14.4953 22.3972 15.2189 21.9509 15.6652C21.5046 16.1116 20.781 16.1116 20.3347 15.6652L17.1428 12.4734V22.2857C17.1428 22.9169 16.6311 23.4286 15.9999 23.4286C15.3688 23.4286 14.8571 22.9169 14.8571 22.2857V12.4734L11.6652 15.6652C11.2189 16.1116 10.4953 16.1116 10.049 15.6652C9.60265 15.2189 9.60265 14.4953 10.049 14.049L15.1918 8.90615Z"
                  fill="currentColor">

                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      
      <div
      id="rightbar"
      class="rightbar fixed top-20 right-0 w-72 h-3/5 bg-white shadow-lg hidden rounded-lg overflow-x-auto scrollbar "
    >
      <div class="p-4 bg-orange-700 text-white flex justify-between items-center rounded-md">
        <h2 class="text-lg font-bold">Sidebar</h2>
        <button
          id="closeSidebar"
          onclick="closeOptionsBar()"
          class="text-white hover:text-gray-300 focus:outline-none"
        >
          <!-- Close SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="p-4">
        <!-- Parent Items -->
        <select id="dataProduct" class="text-xs rounded-lg m-2 p-2 bg-black text-white hover:bg-pink-900 w-full">
          <option value="">Select Data Product</option>
          {{ range $id, $val := .Response.DataProducts }}
          <option value="{{ $val.DataProductId }}" class="break-words">
        {{ $val.Name }}
          </option>
          {{ end }}
        </select>
        <label for="exportFormat" class="text-xs text-gray-500">Ecport</label>
        <select id="exportFormat" class="text-xs rounded-lg m-2 p-2 bg-black text-white hover:bg-pink-900 w-full">
          <option value="JSON">JSON</option>
          <option value="CSV">CSV</option>
        </select>
      </div>
    </div>

    </div>
  </div>
  <div class="hidden" id="currFabChatId">
    {{ if .Response.CurrentFabricChat }}
      {{ .Response.CurrentFabricChat.FabricChatId }}
    {{ end }}
  </div>
  <div class="hidden" id="currFabChatObject">
    {{ if .Response.CurrentFabricChat }}
      {{ protoToJSON .Response.CurrentFabricChat }}
    {{ end }}
  </div>
  <!-- <div class="hidden" id="actionUris">{{ .Response.ActionUrisJson }}</div> -->
  <script>

    const optionsIcon = document.getElementById('optionsIcon');
    const rightbar = document.getElementById('rightbar');

    // Toggle sidebar visibility
    optionsIcon.addEventListener('click', () => {
      const isHidden = rightbar.classList.contains('hidden');
      rightbar.classList.toggle('hidden', !isHidden);
      rightbar.classList.toggle('visible', isHidden);
    });

    function closeOptionsBar() {
      rightbar.classList.add('hidden');
    }

    function EnterInput(event) {
      if (event.key === "Enter") {
        sendFabricMessage(`{{ .GlobalContext.AccessTokenKey }}`, `{{ .FabricServer}}`,`{{ .ManageFabricUrl }}`, `{{ .GlobalContext.UserInfo.DisplayName }}`);
      }
    }
    function sendFabricMessage() {
      dataproductObservabilityAction(`{{ .GlobalContext.AccessTokenKey }}`, `{{ .ServerAPI}}`, `{{ .GlobalContext.UserInfo.DisplayName }}`);
    }
    TokenAccessKey = `{{ .GlobalContext.AccessTokenKey }}`;
  </script>
</body>

</html>