
.custom-editor .CodeMirror {
    background-color: oklch(0.21 0.006 285.885); /* Dark background */
    color: oklch(0.967 0.003 264.542); /* Light text color */
    height: 420px;
    font-size: 14px;
  }
  .CodeMirror-gutters {
        background-color: oklch(0.37 0.013 285.805) !important;
        border-right: 1px solid #3a3a3a !important;
      }
  .CodeMirror-linenumber {
      color: oklch(0.705 0.015 286.067) !important;
  }
  .CodeMirror-cursor {
      border-left: 1px solid oklch(0.705 0.015 286.067) !important;
  }
  
  .CodeMirror-vscrollbar::-webkit-scrollbar  {
    width: 6px;
    height: 8px;
    cursor: pointer;
  }
  
  /* Track (background) */
  .CodeMirror-vscrollbar::-webkit-scrollbar-track {
    border-radius: 10vh;
    background: oklch(0.37 0.013 285.805);
  }
  
  /* Handle (thumb) */
  .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    background: #dd290a;
    border-radius: 10vh;
  }
  
  /* Handle on hover */
  .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
    background: #dd290a;
  }
  
  .CodeMirror-hscrollbar::-webkit-scrollbar  {
    width: 6px;
    height: 8px;
    cursor: pointer;
  }
  
  /* Track (background) */
  .CodeMirror-hscrollbar::-webkit-scrollbar-track {
    border-radius: 10vh;
    background: oklch(0.37 0.013 285.805);
  }
  
  /* Handle (thumb) */
  .CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
    background: #dd290a;
    border-radius: 10vh;
  }
  
  /* Handle on hover */
  .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
    background: #dd290a;
  }
  
  .custom-editor .cm-keyword { color: #569cd6; }
  .custom-editor .cm-string { color: #ce9178; }
  .custom-editor .cm-number { color: #b5cea8; }
  .custom-editor .cm-variable { color: #9cdcfe; }
  .custom-editor .cm-comment { color: #6a9955; }
  .custom-editor .cm-keyword { color: #569cd6; }
  .custom-editor .cm-atom { color: #569cd6; }
  .custom-editor .cm-number { color: #b5cea8; }
  .custom-editor .cm-def { color: #9cdcfe; }
  .custom-editor .cm-variable { color: #9cdcfe; }
  .custom-editor .cm-variable-2 { color: #9cdcfe; }
  .custom-editor .cm-variable-3 { color: #9cdcfe; }
  .custom-editor .cm-property { color: #9cdcfe; }
  .custom-editor .cm-operator { color: #d4d4d4; }
  .custom-editor .cm-comment { color: #6a9955; }
  .custom-editor .cm-string { color: #ce9178; }
  .custom-editor .cm-string-2 { color: #ce9178; }
  .custom-editor .cm-meta { color: #d4d4d4; }
  .custom-editor .cm-error { color: #f44747; }
  .custom-editor .cm-qualifier { color: #d7ba7d; }
  .custom-editor .cm-builtin { color: #569cd6; }
  .custom-editor .cm-bracket { color: #808080; }
  .custom-editor .cm-tag { color: #569cd6; }
  .custom-editor .cm-attribute { color: #9cdcfe; }
  .custom-editor .cm-hr { color: #d4d4d4; }
  .custom-editor .cm-link { color: #569cd6; }