<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
  <script src="/static/js/create-resource.js"></script>
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}
  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
    <div class="flex-grow p-4">
      <section id="grids" class="space-y-2">
        <div class="flex justify-between mb-2 items-center rounded-lg p-1">
          <h1 class="text-xl text-gray-100 font-bold">{{ .SectionHeader }}</h1>
          <a href="/ui/ai/manage/agents" class="inline-flex items-center text-orange-700 hover:text-orange-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"
              class="mr-1">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
            </svg>
            Back to Listing
          </a>
        </div>
        <div class="max-w-6xl bg-zinc-800 mx-auto shadow rounded-lg p-2">
          <div class="border-b border-gray-200 mb-2 flex justify-center">
            <button id="yamlSpecB"
              class="whitespace-nowrap text-gray-100 border-black py-2 px-2 text-md font-medium focus:outline-none">
              YAML
            </button>
            <button id="formSpecB"
              class="whitespace-nowrap text-gray-100 border-b-2 py-2 px-2 text-md font-medium focus:outline-none ml-4 order-orange-700 text-orange-700 font-semibold">
              Form
            </button>
          </div>
          <div id="yamlSpec" style="display: none;">
            {{ template "yaml-editor.html" . }}
          </div>
          <div id="formSpec">
            <form id="vapusAgentSpec" class="space-y-2">
              <fieldset class="p-4 rounded">
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4">
                  <div>
                    <input id="name" name="spec.name" type="text" placeholder="Enter name"
                      class="form-input-field " />
                  </div>
                  <div>
                    <input id="description" name="spec.description" type="text" placeholder="Enter description"
                      class="form-input-field " />
                  </div>
                  <div class="flex-1 min-w-[200px]">
                    <div class=" p-2 pt-2 relative">
                      <select id="modelNode" name="spec.modelNode" onchange="populateModelDropdown(this.value)"
                        class="form-select-field p-2">
                        <option value="">Select Model Gateway</option>
                        {{ range $key, $value := .Response.AIModelNodes }}
                        <option value="{{ $value.ModelNodeId }}" class="text-sm text-orange-700 hover:text-pink-900">
                          {{ $value.Name }}
                        </option>
                        {{ end }}
                      </select>
                    </div>
                  </div>
                  <div class="flex-1 min-w-[200px]">
                    <div class=" p-2 pt-2 relative">
                      <select id="model" name="spec.model" class="form-select-field">
                        <option value="">Select Models</option>
                      </select>
                    </div>
                  </div>
                </div>
                <fieldset class="rounded mb-2 border border-zinc-500 rounded-md shadow-sm p-4">
                  <legend class="text-lg font-semibold text-gray-100 ">Spec</legend>
                  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                    <div class="col-span-2">
                      <input id="agentGoal" name="spec.specs[0].goal" type="text" placeholder="Enter agent goal here..."
                        class="form-input-field " />
                    </div>

                    <div class="col-span-2">
                      <textarea id="agentInstructions" name="spec.specs[0].instructions"
                        placeholder="Enter agent instructions here..."
                        class="form-input-field w-full " rows="4"></textarea>
                    </div>
                    <!-- <div>
                      <textarea id="releaseNotes" name="spec.specs[0].releaseNotes"
                        placeholder="Enter agent release notes here..."
                        class="form-input-field rounded-md h-32 shadow-sm w-full" rows="6"></textarea>
                    </div> -->
                    <!-- <div>
                      <label for="fileInput"
                        class="cursor-pointer inline-block text-sm px-2 py-2 bg-orange-700 text-white shadow-md font-semibold rounded-lg shadow hover:bg-pink-900 transition">
                        Upload optional files
                      </label>
                      <input type="file" id="fileInput" onchange="loadFileContent(event)"
                        class="mb-2 w-full px-2 py-2 border rounded-lg focus:outline-none hidden"
                        oninput="adjustYamlFieldHeight(this)">
                    </div> -->

                  </div>
                  <!-- </fieldset> -->
                  <!-- <details class="shadow-sm shadow-gray-100 border border-zinc-500 p-4 mb-4">
                  <summary class="text-lg font-semibold text-gray-100 cursor-pointer">Running Schedule</summary>
                </details> -->
                </fieldset>
                <fieldset class="rounded mb-2 border border-zinc-500 rounded-md shadow-sm p-4">
                  <legend class="text-lg font-semibold text-gray-100 ">Knowledge Base</legend>
                  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                    <div id="dataproducts-selector" class="flex-1 min-w-[200px]">
                      <label for="dataproducts" class="text-sm font-medium text-gray-100">Select Data Products</label>
                      <div class=" p-2 pt-2 relative">
                        <select id="model" name="spec.specs[0].dataproducts" multiple class="form-select-field">
                          {{ range $value := $.Response.DataProducts }}
                          <option value="{{ $value.DataProductId }}"
                            class="text-sm hover:bg-pink-900 hover:text-white rounded-md m-1 p-1">
                            {{ $value.Name }}
                          </option>
                          {{ end }}
                        </select>
                      </div>
                    </div>
                    <div id="datasource-selector" class="flex-1 min-w-[200px]">
                      <label for="datasources" class="text-sm font-medium text-gray-100">Select Data Sources</label>
                      <div class=" p-2 pt-2 relative">
                        <select id="model" name="spec.specs[0].datasources" multiple class="form-select-field rounded-md shadow-sm">
                          {{ range $value := $.Response.DataSources }}
                          <option value="{{ $value.DataSourceId }}"
                            class="text-sm hover:bg-pink-900 hover:text-white rounded-md m-1 p-1">
                            {{ $value.Name }}
                          </option>
                          {{ end }}
                        </select>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <details class="border border-zinc-500 rounded-md shadow-sm p-4 mb-4">
                  <summary class="text-lg font-semibold text-gray-100 cursor-pointer">Advance Settings</summary>
                  <div class="flex gap-2">
                    <div class="w-1/4">
                      <input id="logRetentionCount" name="spec.attributes.logRetentionCount" type="number"
                        placeholder="Enter total count of logs to retain"
                        class="form-input-field " />
                    </div>
                    <div class="w-1/4">
                      <input id="logRetentionDays" name="spec.attributes.logRetentionDays" type="number"
                        placeholder="Enter number of days to retain logs"
                        class="form-input-field " />
                    </div>
                    <div class="w-1/4">
                      <input id="errorLogRetentionCount" name="spec.attributes.errorLogRetentionCount" type="number"
                        placeholder="Enter count of error log retention"
                        class="form-input-field " />
                    </div>
                    <div class="w-1/4">
                      <input id="retryCount" name="spec.attributes.retryCount" type="number"
                        placeholder="Set retry count" class="form-input-field " />
                    </div>
                    <!-- <div class="w-1/4 flex">
                      Gracefull Exit? <input type="checkbox" id="retryFailureExit" name="spec.attributes.retryFailureExit" value="true"
                        class="form-input-field accent-orange-700" />
                    </div> -->
                  </div>
                </details>
                {{ template "create-resource-buttons.html" . }}
            </form>
          </div>
        </div>
      </section>
    </div>
    <div hidden id="createTemplate">{{ $.Response.CreateActionParams.YamlSpec }}</div>
  </div>
  <script>
    var ModelNodeStr = `{{ protoToJSON .Response.AIModelNodes }}`;
    var ModelMap = {};
    function populateModelDropdown(key) {
      try {
        const modelSelect = document.getElementById('model');
        if (!modelSelect) {
          console.error('Select element with id "model" not found');
          return;
        }

        console.log('ModelMap:', ModelMap);
        while (modelSelect.options.length > 0) {
          modelSelect.remove(0);
        }

        var node = ModelMap[key];
        node.attributes.generative_models.forEach(item => {
          const option = document.createElement('option');
          option.value = item.model_name;
          option.textContent = item.model_name;
          option.classList.add('text-sm', 'text-orange-700', 'hover:text-pink-900');
          modelSelect.appendChild(option);
        });

      } catch (error) {
        console.error('Error populating model dropdown:', error);
      }
    }
    document.addEventListener('DOMContentLoaded', function () {
      try {
        var parsedModel = JSON.parse(ModelNodeStr);
        console.log('parsedModel:', parsedModel);
        parsedModel.forEach(item => {
          ModelMap[item.model_node_id] = item;
        });
        console.log('ModelMap:', ModelMap);
        for (var key in parsedModel) {
          ModelMap[key.model_node_id] = parsedModel[key];
        }
        console.log('ModelMap:', ModelMap);
      } catch (error) {
        console.error('Failed to parse ModelNodeStr:', error);
      }
    });

    document.getElementById('yamlSpecB').addEventListener('click', function () {
      document.getElementById('formSpecB').classList.remove('border-orange-700', 'text-orange-700', 'font-semibold');
      this.classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
      document.getElementById('yamlSpec').style.display = 'block';
      document.getElementById('formSpec').style.display = 'none';
      CreateResourceViaYaml(
        "createTemplate", `{{ .Response.CreateActionParams.Method }}`, `{{ .Response.CreateActionParams.Title }}`,
        `{{ .GlobalContext.AccessTokenKey }}`, `{{ .Response.CreateActionParams.API }}`
      );
    });

    document.getElementById('formSpecB').addEventListener('click', function () {
      document.getElementById('yamlSpecB').classList.remove('border-orange-700', 'text-orange-700', 'font-semibold');
      this.classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
      document.getElementById('yamlSpec').style.display = 'none';
      document.getElementById('formSpec').style.display = 'block';
    });
    document.onload = function () {
      document.getElementById('formSpec').style.display = 'block';
      document.getElementById('formSpecB').classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
    }
    document.getElementById('vapusAgentSpec').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent default submission
      const form = event.target;
      const formData = new FormData(form);
      let dataObj = getFormData(formData);
      if (dataObj.specs[0].dataproducts) {
        dataObj.specs[0].dataproducts = dataObj.specs[0].dataproducts.split(',');
      }
      if (dataObj.specs[0].datasources) {
        dataObj.specs[0].datasources = dataObj.specs[0].datasources.split(',');
      }
      dataObj.attributes.logRetentionCount = parseInt(dataObj.attributes.logRetentionCount);
      dataObj.attributes.logRetentionDays = parseInt(dataObj.attributes.logRetentionDays);
      dataObj.attributes.errorLogRetentionCount = parseInt(dataObj.attributes.errorLogRetentionCount);
      dataObj.attributes.retryCount = parseInt(dataObj.attributes.retryCount);
      // Call the API and log the statement after it completes
      submitCreateForm(dataObj, `{{ .GlobalContext.AccessTokenKey }}`, `{{ .Response.CreateActionParams.API }}`, `{{  .Response.BackListingLink }}`)
        .then(() => {
          console.log('Create form submission completed');
        })
        .catch((error) => {
          console.error('Form submission failed:', error);
        });
    });
    document.getElementById('submitYaml').addEventListener('click', function () {
      YamlCreateResourceAction({
        tokenKey: `{{ .GlobalContext.AccessTokenKey }}`,
        apiUrl: `{{ .Response.CreateActionParams.API }}`,
        method: `POST`,
      });
    });
  </script>
</body>

</html>