<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "staticimports.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}
  <div class="overflow-y-auto scrollbar  h-screen w-full">
  {{ template "header.html" . }}
    <div class="flex-grow p-4 overflow-y-auto scrollbar text-gray-100">
      <div class="container mx-auto p-2 space-y-6">

        <!-- Row 1: Two Cards -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
          <!-- Card 1 -->
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center">
            <div>
              <h2 class="text-xl font-semibold text-center">NA</h2>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center">
            <div>
              <h2 class="text-xl font-semibold text-center">Data Sources</h2>
            </div>
          </div>
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center">
            <div>
              <h2 class="text-xl font-semibold text-center">NA</h2>
            </div>
          </div>
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center">
            <div>
              <h2 class="text-xl font-semibold text-center">Users</h2>
            </div>
          </div>
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center col-span-2">
            <div>
              <h2 class="text-xl font-semibold text-center">Inbound Data Queries</h2>
              <table class="table-auto w-full mt-2 text-xs border-2 border-zinc-500">
                <thead class="bg-zinc-900 divide-y divide-zinc-500 break-words text-sm font-medium text-gray-500 uppercase">
                  <tr>
                    <th class="px-4 py-2">Failed</th>
                    <th class="px-4 py-2">Successfull</th>
                    <th class="px-4 py-2">Total</th>
                  </tr>
                </thead>
                <tbody class="bg-zinc-800 divide-y divide-zinc-900 text-sm">
                  <tr>
                    <td class="px-4 py-2 text-yellow-500">
                      0%
                    </td>
                    <td class="px-4 py-2 text-yellow-500">
                      0%
                    </td>
                    <td class="px-4 py-2 text-yellow-500">0}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="border border-zinc-500 rounded-lg shadow-lg p-2 flex items-center justify-center col-span-2">
            <div>
              <h2 class="text-xl font-semibold text-center">Outbound Data Queries</h2>
              <table class="table-auto w-full mt-2 text-xs border-2 border-zinc-500">
                <thead class="bg-zinc-900 divide-y divide-zinc-500 break-words text-sm font-medium text-gray-500 uppercase">
                  <tr>
                    <th class="px-4 py-2">Failed</th>
                    <th class="px-4 py-2">Successfull</th>
                    <th class="px-4 py-2">Total</th>
                  </tr>
                </thead>
                <tbody class="bg-zinc-800 divide-y divide-zinc-900 text-sm">
                  <tr>
                    <td class="px-4 py-2 text-yellow-500">
                      0%
                    </td>
                    <td class="px-4 py-2 text-yellow-500">
                      0%
                    </td>
                    <td class="px-4 py-2 text-yellow-500">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Card 2 -->

        </div>

        <!-- Row 2: Graphs -->
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2">
          <!-- Graph 1 -->
          <!-- Graph 2 -->
          <div class="rounded-lg shadow-lg p-2 border border-zinc-500">
            <h3 class="text-lg font-semibold mb-4">Dataproducts Heat Map</h3>
            <canvas id="dataproductMetrics" class="w-full"></canvas>
          </div>
          <div class="rounded-lg shadow-lg p-2 border border-zinc-500">
            <h3 class="text-lg font-semibold mb-4">Data Sources Compliance Heat Map</h3>
            <canvas id="dataSourceCompliances" class="w-full"></canvas>
          </div>
          <!-- Graph 3 -->
          <div class="rounded-lg shadow-lg p-2 border border-zinc-500">
            <h3 class="text-lg font-semibold mb-4">VDC Deployments </h3>
            <canvas id="deploymentMetrics" class="w-full"></canvas>
          </div>
          <!-- <div class="rounded-lg shadow-lg p-2">
        <h3 class="text-lg font-semibold mb-4">Users Growth</h3>
        <canvas id="userMetrics" class="w-full"></canvas>
      </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Chart.js Script -->
  <script>
    
  </script>
</body>

</html>