<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
    {{ template "yaml-editor-modal.html" . }}
    <div class="flex-grow p-2 w-full text-gray-100">
      <div id="loadingOverlay" class="loading-overlay">
        <div class="spinner"></div>
      </div>
        {{ template "section-headers.html" . }}
        <!-- Tabs -->
        <div class="overflow-x-auto scrollbar text-gray-100 bg-zinc-800 rounded-lg p-8 shadow-md ">
          <div class="tab-content mt-2 bg-[#1b1b1b] p-4">
              <!-- User Overview Section -->
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6">
                <div>
                  <p class="detail-sect-key font-medium">User ID:</p>
                  <p class="break-words p-2">{{ .Response.User.UserId }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Email:</p>
                  <p class="break-words p-2">{{ .Response.User.Email }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Display Name:</p>
                  <p class="break-words p-2">{{ .Response.User.DisplayName }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Status</p>
                  <p class="break-words p-2">
                    <span
                      class="px-3 py-1 text-sm font-medium {{ if eq .Response.User.ResourceBase.Status `ACTIVE` }}text-green-800 bg-green-100{{ else }}text-red-800 bg-red-100{{ end }} rounded-full">
                      {{ .Response.User.ResourceBase.Status }}
                    </span>
                  </p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">First Name:</p>
                  <p class="break-words p-2">{{ .Response.User.FirstName }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Last Name:</p>
                  <p class="break-words p-2">{{ .Response.User.LastName }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Onboarding Type:</p>
                  <p class="break-words p-2">{{ .Response.User.InvitedType }}</p>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Platform Role:</p>
                  <p class="break-words p-2">
                    {{ range $role := .GlobalContext.UserInfo.PlatformRoles }}
                    <span class="px-3 py-1 text-sm font-medium text-gray-800 bg-gray-200 rounded-full">
                      {{ $role }}
                    </span>
                    {{ end }}
                  </p>
                </div>
              </div>

              <!-- Organization Roles Section -->
              <h3 class="text-xl mb-4 detail-heading">Organization Roles:</h3>
              <div class="space-y-4">
                {{ range $id, $val := .Response.User.OrganizationRoles }}
                <div class="bg-zinc-700 p-4 rounded-lg shadow-md">
                  <h4 class="text-lg font-semibold ">Organization ID: {{ $val.OrganizationId }}</h4>
                  <div class="flex flex-col sm:flex-row sm:justify-between mt-2">
                    <div>
                      <p class="font-semibold detail-sect-key">Roles</p>
                      <ul class="list-disc ml-5">
                        {{ range $role := $val.Role }}
                        <li>{{ $role }}</li>
                        {{ end }}
                      </ul>
                    </div>
                    <div>
                      <p class="font-semibold detail-sect-key">Invited On:</p>
                      <p class="break-words p-2">{{ epochConverter $val.InvitedOn }}</p>
                    </div>
                  </div>
                </div>
                {{ end }}
              </div>
          </div>
        </div>
    </div>
  </div>
</body>
<script>

  function userAction(destId, action) {
    document.getElementById('actionTitle').innerHTML = "";
    document.getElementById('actionTitle').innerHTML = action.toUpperCase();
    document.getElementById('yamlSpecTitle').innerHTML = "";
    document.getElementById('yamlSpecTitle').innerHTML = `Edit {{ .Response.User.UserId }} Spec`;
    openYAMLedModal(`{{ .Response.ActionParams.API }}`,
      `{{ .GlobalContext.AccessTokenKey }}`,
      destId);
  }

</script>

</html>