<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{ template "staticimports.html" . }}
    {{ template "manage-platform-imports.html" . }}
</head>
<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}
  <div class="overflow-y-auto scrollbar  h-screen w-full">
  {{ template "header.html" . }}
 <div class="flex-grow p-2 w-full">
    <div class="flex justify-between mb-2 items-center p-2" id="tables">
            <div class="overflow-x-auto text-sm scrollbar rounded-lg p-4 shadow-md text-gray-100">  
              <table class="min-w-full divide-y divide-gray-200 text-xs" id="usersDataTable">
                <thead class="bg-gray-50">
                 
                </thead>
                <tbody class="bg-white divide-y divide-gray-200 text-sm">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
</div>
<script>
      document.addEventListener("DOMContentLoaded", function() {
      var headers = ["User Id", "Invited On", "Display Name", "Status", "Action"];
      var dataTableArray = [];
      {{ range $id, $val := .Response.Users }}
        dataTableArray.push({"User Id": "{{ $val.UserId }}", "Invited On": "{{ epochConverter $val.InvitedOn }}", 
        "Display Name": "{{ $val.DisplayName }}", 
        "Status": `{{ $val.ResourceBase.Status }}`,  
        "View Details": ` <a class="indescription-link" target="_blank" href="{{ $.Response.BackListingLink }}/{{ $val.UserId }}">
                        {{ template "view-details-svg.html" . }}                                          
                      </a>`})
      {{ end }}
      renderDatatable("usersDataTable", dataTableArray,headers, null);
    });
</script>
</body>
</html>
