<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
  <script src="/static/js/create-resource.js"></script>
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto h-screen w-full">
    {{ template "header.html" . }}
    {{ template "loading-overlay.html" . }}
    <div class="flex-grow p-4 overflow-y-auto w-full">
      <section id="grids" class="space-y-2">
        <div class="max-w-6xl mx-auto bg-[#1b1b1b] shadow rounded-lg p-2">
          <div class="text-gray-100 mb-2 flex justify-center">
            <button id="yamlSpecB"
              class="whitespace-nowrap border-b-2 border-black py-2 px-2 text-md font-medium focus:outline-none">
              YAML
            </button>
            <button id="formSpecB"
              class="whitespace-nowrap border-b-2 py-2 px-2 text-md font-medium focus:outline-none ml-4 order-orange-700 text-orange-700 font-semibold">
              Form
            </button>
          </div>
          <div id="yamlSpec" style="display: none">
            {{ template "yaml-editor.html" . }}
          </div>
          <div id="formSpec">
            <form id="SecretServiceSpec" class="space-y-2 border border-zinc-500 rounded-md text-gray-100 p-2">
              <fieldset class="p-4 rounded">
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4">
                    <!-- Name -->
                    <div>
                        <input id="name" name="spec.name" type="text" placeholder="Enter name"
                        class="form-input-field rounded-md shadow-sm" />
                    </div>

                    <!-- ExpiresAt -->
                    <div>
                    <input name="spec.expiresAt" type="datetime-local" id="dateInput"
                        placeholder="Select date and time"
                        max="2050-12-31T23:59"
                        class="form-input-field rounded-md shadow-sm" />
                    </div>

                    <!-- Secret Type -->
                    <div class="flex-1 min-w-[200px]">
                        <div class="relative">
                        <select id="modelNode" name="spec.secretType"
                        class="form-select-field p-2"
                        onchange="handleSelection(this.value)">
                        <option value="">Select Secret Type</option>
                        {{ range $key, $value := .Enums.VapusSecretType }}
                            <option value="{{ $value }}" class="text-sm text-orange-700 hover:text-pink-900">
                            {{ $value }}
                            </option>
                        {{ end }}
                        </select>
                        </div>
                    </div>
                </div>

                <fieldset class="rounded mb-4 border border-zinc-500 rounded-md shadow-sm p-4">
                  <legend class="text-lg font-semibold  "></legend>
                    <!-- Data -->
                    <div id="custom-data" class="grid grid-cols-1 md:grid-cols-1 gap-4 mb-2 hidden">
                            <div class="col-span-2">
                                <label class="block text-sm font-medium"> Data </label>
                                <textarea name="spec.data" rows="3" type="text" placeholder="Enter Data"
                                    class="form-input-field rounded-md shadow-sm w-full" ></textarea>
                            </div>
                    </div>
                    <!-- Generic Credentials -->
                    <div id="generic-cred" class="grid grid-cols-1 md:grid-cols-1 gap-4 mb-2 hidden">
                            {{ template "generic-credentials.html" . }}
                    </div>
                    <!-- Description -->
                    <div class="grid grid-cols-1 mt-2 md:grid-cols-1 gap-4">
                        <div class="col-span-2">
                        <label class="block text-sm font-medium"> Description </label>
                        <textarea name="spec.description" rows="4" type="text" placeholder="Enter Description"
                            class="form-input-field rounded-md shadow-sm w-full" ></textarea>
                        </div>
                    </div>
                    
                </fieldset>
              </fieldset>
              <!-- Submit Button -->
              <div class="mt-4 flex justify-end space-x-2">
                <button type="submit" id="submit" class="px-6 py-2 bg-orange-700 text-white rounded-md shadow hover:bg-pink-900">
                  Submit
                </button>
                <button type="button" id="loading" class="px-6 py-2 bg-orange-700 text-white rounded-md shadow hover:bg-pink-900 hidden">
                  <svg class="animate-spin h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
                      </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div hidden id="createTemplate">{{ $.Response.CreateActionParams.YamlSpec }}</div>
  </div>
  <script src="/static/js/common.js"></script>
  <script>
    document.getElementById('yamlSpecB').addEventListener('click', function () {
      document.getElementById('formSpecB').classList.remove('border-orange-700', 'text-orange-700', 'font-semibold');
      this.classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
      document.getElementById('yamlSpec').style.display = 'block';
      document.getElementById('formSpec').style.display = 'none';
      CreateResourceViaYaml(
        "createTemplate", `{{ .Response.CreateActionParams.Method }}`, `{{ .Response.CreateActionParams.Title }}`,
        `{{ .GlobalContext.AccessTokenKey }}`, `{{ .Response.CreateActionParams.API }}`
      );
    });

    document.getElementById('formSpecB').addEventListener('click', function () {
      document.getElementById('yamlSpecB').classList.remove('border-orange-700', 'text-orange-700', 'font-semibold');
      this.classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
      document.getElementById('yamlSpec').style.display = 'none';
      document.getElementById('formSpec').style.display = 'block';
    });

    document.onload = function () {
      document.getElementById('formSpec').style.display = 'block';
      document.getElementById('formSpecB').classList.add('border-orange-700', 'text-orange-700', 'font-semibold');
    }

    document.getElementById('SecretServiceSpec').addEventListener('submit', function (event) {

        event.preventDefault(); // Prevent default submission
        const form = event.target;
        const formData = new FormData(form);
        let dataObj = getFormData(formData);
        
        let dateTime_expiresAt = dataObj.expiresAt
        if (dateTime_expiresAt) {
            let runDate = new Date(dateTime_expiresAt);
            dataObj.expiresAt = Math.floor(runDate.getTime() / 1000);
        }

        console.log(dataObj.data)
        if(dataObj.data == ""){
            console.log("shjkebca")
            let creds = GetGenericCredentialsData();
            console.log(creds.credentials)
            let vapus_secrets = JSON.stringify(creds.credentials)
            let vapus_secrets_binary = strToUniArray(vapus_secrets)
            let vapus_secrets_base64 = uint8ArrayToBase64(vapus_secrets_binary)
            dataObj.data = vapus_secrets_base64
            console.log("baseEncode")
            console.log(vapus_secrets_base64)
        } else{
            let custom_secrets = JSON.stringify(dataObj.data)
            let custom_secrets_binary = strToUniArray(dataObj.data)
            let custom_secrets_base64 = uint8ArrayToBase64(custom_secrets_binary)
            dataObj.data = custom_secrets_base64
        }

        // Call the API and log the statement after it completes
        submitCreateForm(dataObj, `{{ .GlobalContext.AccessTokenKey }}`, `{{ .Response.CreateActionParams.API }}`,`{{  .Response.BackListingLink }}`)
        .then(() => {
            console.log('Submitted form data: ==========================================');
            console.log('Create form submission completed');
        })
        .catch((error) => {
            console.error('Form submission failed:', error);
        });
    });
    
    document.getElementById('submitYaml').addEventListener('click', function () {
      YamlCreateResourceAction({
        tokenKey: `{{ .GlobalContext.AccessTokenKey }}`,
        apiUrl: `{{ .Response.CreateActionParams.API }}`,
        method: `POST`,
      });
    });

    // Current date
    document.addEventListener("DOMContentLoaded", function () {
        const now = new Date();
        const localDateTime = now.toISOString().slice(0, 16); 
        const dateInput = document.getElementById("dateInput");

        dateInput.value = localDateTime;  
        console.log(localDateTime)
        dateInput.min = localDateTime; 
    });

    // For secret Input
    function handleSelection(value) {
        const dynamicField = document.getElementById("generic-cred");
        const custom = document.getElementById("custom-data");
        custom.classList.add("hidden")
        dynamicField.classList.add("hidden")
        
        if (value === "CUSTOM_SECRET") {
            custom.classList.remove("hidden")
        } else if (value === "VAPUS_CREDENTIAL") {
            dynamicField.classList.remove("hidden")
            document.getElementById('genericCredentials').style.display = 'block'
        } 
    }

  </script>
</body>

</html>

