<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto scrollbar h-screen w-full">
    {{ template "header.html" . }}
    {{ template "yaml-editor-modal.html" . }}
    <div class="flex-grow p-2 w-full text-gray-100">
        {{ template "section-headers.html" . }}
      <div class="overflow-x-auto scrollbar shadow-md p-8 text-gray-100">
        <div class="max-w-8xl mx-auto bg-[#1b1b1b] rounded-lg shadow-lg p-6">
          <!-- User Overview Section -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6">
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">User ID</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.UserId }}</p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">Email</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.Email }}</p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">Display Name</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.DisplayName }}</p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">Status</p>
              <p class=" break-words p-2">
                <span
                  class="px-3 py-1 text-sm font-medium {{ if eq .GlobalContext.UserInfo.ResourceBase.Status `ACTIVE` }}text-green-800 bg-green-100{{ else }}text-red-800 bg-red-100{{ end }} rounded-full">
                  {{ .GlobalContext.UserInfo.ResourceBase.Status }}
                </span>
              </p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">First Name</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.FirstName }}</p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">Last Name</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.LastName }}</p>
            </div>
            <div class = "flex items-center">
              <p class="detail-sect-key font-medium">Onboarding Type</p>
              <p class=" break-words p-2">{{ .GlobalContext.UserInfo.InvitedType }}</p>
            </div>
            <div>
              <p class="detail-sect-key font-medium">Platform Roles</p>
              <p class=" break-words p-2">
                {{ range $role := .GlobalContext.UserInfo.PlatformRoles }}
                <span
                  class="px-3 py-1 text-sm font-medium text-gray-800 bg-gray-50 rounded-full">
                  {{ $role }}
                </span>
                {{ end }}</p>
            </div>
          </div>

          <!-- Organization Roles Section -->
          <h3 class="text-xl mb-4 detail-heading">Organization Roles:</h3>
          <div class="space-y-4">
            {{ range $id, $val := .GlobalContext.UserInfo.OrganizationRoles }}
            {{ if eq $val.OrganizationId $.GlobalContext.CurrentOrganization.OrganizationId }}
            <div class="bg-zinc-800 p-4 rounded-lg shadow-md">
              <h4 class="text-lg font-semibold ">Organization ID: {{ $val.OrganizationId }}</h4>
              <div class="flex flex-col sm:flex-row sm:justify-between mt-2">
                <div>
                  <p class="detail-sect-key font-medium">Roles</p>
                  <ul class="list-disc ml-5 ">
                    {{ range $role := $val.Role }}
                    <li>{{ $role }}</li>
                    {{ end }}
                  </ul>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Invited On</p>
                  <p class="text-gray-50">{{ epochConverter $val.InvitedOn }}</p>
                </div>
              </div>
            </div>
            {{ else }} 
            <div class="bg-zinc-700 p-4 rounded-lg shadow-md">
              <h4 class="text-lg font-semibold">Organization ID: {{ $val.OrganizationId }}</h4>
              <div class="flex flex-col sm:flex-row sm:justify-between mt-2">
                <div>
                  <p class="detail-sect-key font-medium">Roles</p>
                  <ul class="list-disc ml-5">
                    {{ range $role := $val.Role }}
                    <li>{{ $role }}</li>
                    {{ end }}
                  </ul>
                </div>
                <div>
                  <p class="detail-sect-key font-medium">Invited On</p>
                  <p class=" break-words p-2">{{ epochConverter $val.InvitedOn }}</p>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
  </div>
  </div>
  <script>
    document.addEventListener("click", (event) => {
      const dropdown = document.getElementById("actionDropdownMenu");
      const button = document.querySelector("button[onclick='toggleActionDropdownMenu()']");
      if (!dropdown.contains(event.target) && !button.contains(event.target)) {
        dropdown.classList.add("hidden");
      }
    });
    
  </script>
</body>

</html>