<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto h-screen w-full">
    {{ template "header.html" . }}
    <div class="flex-grow p-2 w-full text-gray-100">
      {{ template "section-headers.html" . }}
    <!-- Tabs -->
   <div class="overflow-x-auto scrollbar text-gray-100 bg-zinc-800 rounded-lg p-8 shadow-md ">
    <div class="flex border-b border-zinc-500 font-semibold text-gray-50">
          <button onclick="showTab('spec')"
            class="tab-button px-4 py-2 focus:outline-none">Spec</button> 
        </div>

        <!-- Tab Content -->
        <div id="spec" class="tab-content mt-2 bg-[#1b1b1b] p-4">
          <h3 class="text-xl mb-4 detail-heading">Basic Information</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

            <!-- Name -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Name:</p>
              <p class="detail-section-text">{{ stringCheck .Response.SecretStore.Name }}</p>
            </div>
            
            <!-- Security Type -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Secret Type:</p>
              <p class="detail-section-text ">{{ .Response.SecretStore.SecretType }}</p>
            </div>

            <!-- Provider -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Provider:</p>
              <p class="detail-section-text ">
                {{ .Response.SecretStore.Provider }}
              </p>
            </div>

            <!-- Organization -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Organization:</p>
              <p class="detail-section-text ">
                {{ .Response.SecretStore.ResourceBase.Organization }}
              </p>
            </div>

            <!-- Data -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Data:</p>
              <p class="detail-section-text ">
                {{ .Response.SecretStore.Data }}
              </p>
            </div>

            <!-- Description -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Description:</p>
              <p class="detail-section-text ">
                {{ .Response.SecretStore.Description }}
              </p>
            </div>
            
            <!-- ExpireAt -->
            <div class="flex items-center">
              <p class="detail-sect-key ">Expire At:</p>
              <p class="detail-section-text ">
                {{ epochConverterFull .Response.SecretStore.ExpireAt }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript for Tabs -->
  <script>
    function showTab(tabId) {
      const tabs = document.querySelectorAll('.tab-content');
      tabs.forEach(tab => tab.classList.add('hidden'));

      document.getElementById(tabId).classList.remove('hidden');

      const buttons = document.querySelectorAll('.tab-button');
      buttons.forEach(button => button.classList.remove('active-tab'));

      document.querySelector(`[onclick="showTab('${tabId}')"]`).classList.add('active-tab');
    }

    // Show the first tab by default
    document.addEventListener('DOMContentLoaded', () => {
      showTab('spec');
      const toolSchemas = document.querySelectorAll('.toolSchema');
      toolSchemas.forEach((toolSchema) => {
        const rawJson = JSON.parse(toolSchema.textContent);
        console.log(rawJson);
        const formattedJson = JSON.stringify(rawJson, null, 4);
        console.log(formattedJson);
        toolSchema.textContent = formattedJson;
        Prism.highlightElement(toolSchema);
      });
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", (event) => {
      const dropdown = document.getElementById("actionDropdownMenu");
      const button = document.querySelector("button[onclick='toggleActionDropdownMenu()']");
      if (!dropdown.contains(event.target) && !button.contains(event.target)) {
        dropdown.classList.add("hidden");
      }
    });

  </script>

</body>

</html>