<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-zinc-800 flex h-screen">
  {{ template "main-sidebar.html" . }}

  <div class="overflow-y-auto scrollbar  h-screen w-full">
    {{ template "header.html" . }}
    {{ template "yaml-editor-modal.html" . }}
   <div class="flex-grow p-2 w-full">
        {{ template "section-headers.html" . }}
       
      <!-- Tabs -->
      <div class="overflow-x-auto scrollbar text-gray-100 bg-zinc-800 rounded-lg p-8 shadow-md ">
        <div class="flex border-b border-zinc-500">
          <button onclick="showTab('spec')"
            class="tab-button px-4 py-2 font-semibold  focus:outline-none">Spec</button>
          <button onclick="showTab('dryrunset')"
            class="tab-button px-4 py-2 font-semibold  focus:outline-none ">Dry Run</button>
        </div>

        <!-- Tab Content -->
        <div id="spec" class="tab-content mt-2 bg-[#1b1b1b] p-4">
          <h3 class="text-xl mb-4 detail-heading">Basic Information</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Name:</p>
              <p class=" break-words p-2">{{ stringCheck .Response.AIPrompt.Name }}</p>
            </div>
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Id:</p>
              <p class=" break-words p-2" style="cursor: pointer;"
                onclick="copyToClipboard(`{{ $.Response.AIPrompt.PromptId }}`)">{{stringCheck
                .Response.AIPrompt.PromptId }}</p>
            </div>
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Prompt Type:</p>
              <p class=" break-words p-2">
                {{ range $obj := .Response.AIPrompt.PromptTypes }}
                <span class="px-3 py-1 text-sm font-medium rounded-full text-purple-800 bg-purple-100">
                  {{ $obj }}
                </span>
                {{ end }}
              </p>
            </div>

            <div class="flex items-center">
              <p class="detail-sect-key font-medium mr-2">Link To:</p>
              <div class="break-words p-2">
                    <a href="{{ $.Response.CreateActionParams.AiStudioURL }}" target="_blank" class="inline-flex items-center text-orange-700 hover:text-orange-700 space-x-1">
                      <span>AIStudio</span>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 24 24" class="mt-[1px]">
                        <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42L17.59 5H14V3z"/>
                        <path d="M5 5h9v2H7v10h10v-7h2v9H5V5z"/>
                      </svg>
                    </a>
              </div>
            </div>
             
            <div>
              <p class="detail-sect-key font-medium">Preferred Models:</p>
              <p class=" break-words p-2">
                {{ range $obj := .Response.AIPrompt.PreferredModels }}
                <span class="px-3 py-1 text-sm font-medium rounded-full text-gray-800 bg-gray-100">
                  {{ $obj }}
                </span>
                {{ end }}
              </p>
            </div>
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Labels:</p>
              <p class=" break-words p-2">
                {{ range $obj := .Response.AIPrompt.Labels }}
                <span class="px-3 py-1 text-sm font-medium rounded-full text-yellow-800 bg-yellow-100">
                  {{ $obj }}
                </span>
                {{ end }}
              </p>
            </div>
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Owner :</p>
              <p class=" break-words p-2">
                {{stringCheck .Response.AIPrompt.PromptOwner }}
              </p>
            </div>
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Organization :</p>
              <p class=" break-words p-2">
                {{stringCheck .Response.AIPrompt.ResourceBase.Organization }}
              </p>
            </div>
            <div>
              <p class="detail-sect-key font-medium">User Message:</p>
              <p class=" break-words p-2">
                {{ .Response.AIPrompt.Spec.UserMessage }}
              </p>
            </div>
            <div>
              <p class="detail-sect-key font-medium">System Message:</p>
              <p class=" break-words p-2">
                {{ .Response.AIPrompt.Spec.SystemMessage }}
              </p>
            </div>
            {{ if .Response.AIPrompt.Spec.Sample }}
            <div>
              <p class="detail-sect-key font-medium">Sample Input:</p>
              <p class=" break-words p-2">
                {{ .Response.AIPrompt.Spec.Sample.InputText }}
              </p>
            </div>
            <div>
              <p class="detail-sect-key font-medium">Variables:</p>
              <p class="flex text-gray-200 break-words p-2" style="max-width: 200px; overflow-wrap: break-word;">
                {{ range $key, $value := .Response.AIPrompt.Spec.Variables }}
                <span
                  class="px-3 py-1 text-sm font-medium bg-blue-600 rounded-full mr-2">
                  {{ $value }}
                </span>
                {{ else }}
                No Variables for this prompt
                {{ end}}
              </p>
            </div>
            {{ end}}
            <div class="flex items-center">
              <p class="detail-sect-key font-medium">Status:</p>
              <p class=" break-words p-2">
                <span
                  class="px-3 py-1 text-sm font-medium {{ if eq .Response.AIPrompt.ResourceBase.Status `ACTIVE` }}text-green-800 bg-green-100{{ else }}text-red-800 bg-red-100{{ end }} rounded-full">
                  {{ .Response.AIPrompt.ResourceBase.Status }}
                </span>
              </p>
            </div>
          </div>
          <h3 class="text-xl mb-4 detail-heading">Tags</h3>
          <div class="bg-zinc-800 p-4 rounded-lg shadow-md">
            <table class="min-w-full divide-y divide-zinc-500 border border-zinc-500">
              <thead class="bg-zinc-900">
                <tr>
                  <th class="px-3 py-3 text-left text-xs font-medium  uppercase tracking-wider">Field</th>
                  <th class="px-3 py-3 text-left text-xs font-medium  uppercase tracking-wider">Tag</th>
                </tr>
              </thead>
              <tbody class="bg-zinc-800 divide-y divide-zinc-500">
                <tr class="cursor-pointer hover:bg-zinc-600">
                  <td class="px-3 py-3 whitespace-nowrap">Input Tag</td>
                  <td class="px-3 py-3 whitespace-nowrap">{{ .Response.AIPrompt.Spec.InputTag }}</td>
                </tr>
                <tr class="cursor-pointer hover:bg-zinc-600">
                  <td class="px-3 py-3 whitespace-nowrap">Result Tag</td>
                  <td class="px-3 py-3 whitespace-nowrap">{{ .Response.AIPrompt.Spec.OutputTag }}</td>
                </tr>
                <tr class="cursor-pointer hover:bg-zinc-600">
                  <td class="px-3 py-3 whitespace-nowrap">Context Tag</td>
                  <td class="px-3 py-3 whitespace-nowrap">{{ .Response.AIPrompt.Spec.ContextTag }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="dryrunset" class="tab-content mt-2 bg-[#1b1b1b] p-4">
          <div class="w-full shadow-lg rounded-lg p-2">
            <div class="flex justify-between items-center border-b border-orange-700 pb-2 mb-4">
              <h1 class="text-lg font-bold">Rendered Template</h1>
              <button id="copyJsonBtn" onclick="copyToClipboardUsingElement(`jsonViewer`)"
                class="hover:text-blue-500 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="M8 2C6.895 2 6 2.895 6 4v12c0 1.105.895 2 2 2h8c1.105 0 2-.895 2-2V4c0-1.105-.895-2-2-2H8zM8 4h8v12H8V4zm-4 4H3v8a2 2 0 002 2h6v-2H5V8zm14 0h1v8a2 2 0 01-2 2h-6v2h6a4 4 0 004-4V8z" />
                </svg>
                Copy Template
              </button>
            </div>
            <div id="jsonViewer"
              class="mt-2 border border-zinc-500 rounded-lg p-4 max-w-full text-sm font-mono overflow-x-auto scrollbar overflow-y-auto scrollbar"
              style="max-height: 400px;  white-space: pre-wrap;">
              <pre class ="break-words"> {{ escapeHTML .Response.AIPrompt.Template }}</pre>
            </div>
          </div>
          {{ if .Response.AIPrompt.Spec.Tools }}
          <div class="w-full shadow-lg rounded-lg p-2">
            <div class="flex justify-between items-center pb-4 mb-4">
              <h1 class="text-lg font-bold">Tool Schemas</h1>
              <button id="copyJsonBtn" onclick="copyToClipboardUsingElement(`toolSchema`)"
                class="hover:text-blue-500 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="M8 2C6.895 2 6 2.895 6 4v12c0 1.105.895 2 2 2h8c1.105 0 2-.895 2-2V4c0-1.105-.895-2-2-2H8zM8 4h8v12H8V4zm-4 4H3v8a2 2 0 002 2h6v-2H5V8zm14 0h1v8a2 2 0 01-2 2h-6v2h6a4 4 0 004-4V8z" />
                </svg>
                Copy Schema
              </button>
            </div>
            <div
              class="toolSchema mt-2 border border-zinc-500 max-w-full rounded-lg p-4 text-sm font-mono overflow-x-auto scrollbar overflow-y-auto scrollbar"
              style="max-height: 400px; white-space: pre-wrap;">
              {{ range $key, $value := .Response.AIPrompt.Spec.Tools }}
                {{ if $value.Schema }}
              <pre> <code class="language-json break-words">
                {
                  "name": "{{ $value.Schema.Name }}",
                  "description": "{{ $value.Schema.Description }}",
                  "parameters": {{ $value.Schema.Parameters }}
                }
               </code></pre>
               {{ end }}
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript for Tabs -->
  <script>
    function showTab(tabId) {
      const tabs = document.querySelectorAll('.tab-content');
      tabs.forEach(tab => tab.classList.add('hidden'));

      document.getElementById(tabId).classList.remove('hidden');

      const buttons = document.querySelectorAll('.tab-button');
      buttons.forEach(button => button.classList.remove('active-tab'));

      document.querySelector(`[onclick="showTab('${tabId}')"]`).classList.add('active-tab');
    }

    // Show the first tab by default
    document.addEventListener('DOMContentLoaded', () => {
      showTab('spec');
      const toolSchemas = document.querySelectorAll('.toolSchema');
      toolSchemas.forEach((toolSchema) => {
        const rawJson = JSON.parse(toolSchema.textContent);
        console.log(rawJson);
        const formattedJson = JSON.stringify(rawJson, null, 4);
        console.log(formattedJson);
        toolSchema.textContent = formattedJson;
        Prism.highlightElement(toolSchema);
      });
    });

    // Close dropdown if clicked outside
    document.addEventListener("click", (event) => {
      const dropdown = document.getElementById("actionDropdownMenu");
      const button = document.querySelector("button[onclick='toggleActionDropdownMenu()']");
      if (!dropdown.contains(event.target) && !button.contains(event.target)) {
        dropdown.classList.add("hidden");
      }
    });

  </script>

</body>

</html>