<div class="mt-4">
    <div class="grid grid-cols-3 md:grid-cols-3 gap-4 mb-2">
        <div>
            <div id="scheduleRunLimit" class="flex-1 min-w-[200px]">
                <div class="border border-zinc-500 p-2 pt-2 relative">
                    <label class="form-labels">Limit</label>
                    <input type="number" name="limit" value="0" placeholder="0" min="0" class="form-input-field">
                </div>
            </div>
        </div>
        <div>
            <div id="scheduleRunAt" class="flex-1 min-w-[200px]">
                <div class="border border-zinc-500 p-2 pt-2 relative">
                    <label class="form-labels">Hard Run At</label>
                    <input type="datetime-local" name="runat" placeholder="Select date and time" min="2023-10-01T00:00"
                        max="2050-12-31T23:59" class="form-input-field">
                </div>
            </div>
        </div>
        <div>
            <div id="isRecurringDiv" class="flex-1">
                <div class="flex border border-zinc-500 p-2 pt-2 relative">
                    <label for="isRecurring" class="text-xs font-medium text-gray-100">Is Recurring?
                        count exceed?</label>
                    <input type="checkbox" id="isRecurring" name="isRecurring" value="true" onchange="toggleCronTab()"
                        class="form-input-field accent-orange-700" />
                </div>
            </div>
        </div>
    </div>
    <div id="cronTabSection"class="hidden">
        {{ template "crontab-fieldset.html" . }}
    </div>
</div>
<script>
    var isRecurring = false;
    var schedule = {
        limit: 0,
        runat: "",
    };
    function toggleCronTab() {
        var cronTabSection = document.getElementById("cronTabSection");
        var isRecurring = document.getElementById("isRecurring");
        if (isRecurring.checked) {
            isRecurring.value = true;
            cronTabSection.classList.remove("hidden");
        } else {
            isRecurring.value = false;
            cronTabSection.classList.add("hidden");
        }
    }
    function GetSchedule() {
        var limit = document.getElementsByName("limit")[0].value;
        var runat = document.getElementsByName("runat")[0].value;
        schedule.limit = parseInt(limit);
        if (runat) {
            var runDate = new Date(runat);
            schedule.runAt = Math.floor(runDate.getTime() / 1000);
        } else {
            schedule.runAt = 0;
        }
        if (isRecurring) {
            schedule.cronTab = GetCronTab();
        }
        return schedule;
    }
</script>