<tfoot class="bg-zinc-900 border-t-2 text-xs border-zinc-500 rounded-lg shadow-md">
    <tr class="text-gray-500">
      <td colspan="6" class="px-2 py-2">
        <div class="flex items-center justify-between">
          <!-- Left Side: Pagination Controls -->
          <div class="flex items-center space-x-2">
            <button id="prevPage" class="px-1 py-1 text-gray-100 font-semibold rounded-lg cursor-pointer">&lt;&lt;</button>
            <button id="nextPage" class="px-1 py-1 text-gray-100 font-semibold rounded-lg cursor-pointer">&gt;&gt;</button>
            <div>
              Showing <span id="currentPageSize">0</span> of <span id="totalElements">0</span> entries
            </div>
          </div>
          <!-- Right Side: Pagination Info -->
        </div>
      </td>
    </tr>
  </tfoot>