<link href="/static/css/yamleditor.css" rel="stylesheet">
<div class="bg-zinc-800 p-4 rounded-lg shadow-lg w-full overflow-y-auto scrollbar  relative">
  <div class="flex flex-col items-center space-y-2">
    <label for="fileInput"
      class="cursor-pointer inline-block text-sm px-2 py-2 bg-orange-700 text-white shadow-md font-semibold rounded-lg shadow transition">
      Upload YAML Spec File
    </label>
    <input type="file" id="fileInput" accept=".yaml, .yml" onchange="loadFileContent(event)"
      class="mb-2 w-full px-2 py-2 border rounded-lg focus:outline-none hidden" oninput="adjustYamlFieldHeight(this)">
  </div>
  <div hidden id="modalParams"></div>
  <label for="yamlEditor" class="block text-gray-100 font-medium mb-2" id="yamlSpecTitle">Edit YAML Content
    Here</label>
  <div id="yamlEditor" class="w-full h-auto rounded-lg focus:outline-none font-mono custom-editor"></div>
  <!-- Replacing textarea with a div for CodeMirror -->

  <!-- Action Buttons -->
  <div class="mt-4 flex justify-end space-x-2">
    <button id="submitYaml" type="button"
      class="px-4 py-2 bg-orange-700 text-white rounded-lg shadow-lg cursor-pointer">Create</button>
  </div>
</div>